{{config | json}}

<div [class]="config.style?.classNameContainer" *ngIf="config?.columns">
  <table [class]="config.style?.classNameTable">
    <thead [class]="config.style?.classNameTableHead">
      <tr>
        <th *ngFor="let th of config?.columns">
          {{th.title}}
          <i *ngIf="th.icon?.active" class="material-icons order-arrow">{{th.icon.icon}}</i>
          <i *ngIf="th.order?.active" (click)="order(th)" class="material-icons order-arrow">{{arrowOrderIconActual(th.order.current)}}</i>
        </th>
        <th *ngIf='activeAction' style="width:30px;">Ação</th>
      </tr>
    </thead>

    <tbody *ngFor="let objeto of data | filter:search:config.search?.nameData, let i=index ">
      <tr
      *ngIf="_nRows ? i < _nRows: data.length"
      (dblclick)="emiteObjetoClickDuplo(objeto)"
      [class.table-primary]="isSelected(objeto) "
      (click)="addClassSelecionado(objeto) ">

        <td *ngFor="let column of config.columns ">
          <span [class]="renderClass(column) " [innerHTML]="renderString(objeto,column) "></span>
        </td>

        <td *ngIf='activeAction' style="min-width:100px; ">
          <i *ngIf='config?.action?.edit' class="material-icons " (click)="editEvent(objeto) ">edit</i>
          <i *ngIf='config?.action?.trash' class="material-icons " (click)="deleteEvent(objeto[id]) ">delete</i>
        </td>

      </tr>
    </tbody>
  </table>
</div>
